.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/coverage
/cypress/screenshots
/cypress/videos
VMImageTempSpace/*
!VMImageTempSpace/*.txt
firebase-adminlink.json
/ImageFiles/*
!ImageFiles/ForceFolder.md