* {
    --text-color: rgb(12, 119, 21);
    --box-color: rgb(197, 196, 196);
    --button-color: rgb(6, 98, 14);
    --popup-color: rgb(236, 237, 238);
}
body {
    margin: 0;  
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}