@charset "UTF-8";

html{width:100%;height:100%}
body{width:100%;min-height:100%}
main{display:block}


html,body{font-family:"Calibri";font-size:14px;font-weight: lighter;line-height:20px; background-color: rgb(214, 214, 214);}
h3{padding:0;margin:24px 0;font-size:30px;line-height:40px}


.grey{background-color:rgb(240, 240, 240) !important}
.button{background:0 0;border:none;border-radius:8px;color:white;position:relative;height:24px;margin:0;min-width:90px;padding:0 16px;display:inline-block;font-family:"Roboto","Helvetica","Arial",sans-serif;font-size:12px;font-weight:500;text-transform:uppercase;letter-spacing:0;overflow:hidden;will-change:box-shadow;transition:box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);outline:none;cursor:pointer;text-decoration:none;text-align:center;line-height:24px;vertical-align:middle}
.button--raised{background:green;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)}
.button--raised:active{box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);background-color:green}
.top{display:flex;flex-wrap:nowrap;align-items:center;height:80px;}
.textfield{box-shadow:0 0 3px rgba(0,0,0,.18),0 3px 16px rgba(0,0,0,.36);border:1px solid rgba(0,0,0,.12);display:block;font-size:14px;font-family:"Arial";border-radius:8px;padding:10px 0;width:100%;background:white;text-align:left;color:inherit}
